<ion-view view-title="{{entreprise.nom}}">
    <ion-content>
        <div class="item item-body">
            <img class="full-image" src="./img/{{entreprise.logo}}">
            <div class="cardType type{{entreprise.label}}">
                {{entreprise.type}}
            </div>
            <div ng-bind-html="entreprise.description | sanitize"></div>
            <div ng-repeat="poste in entreprise.postes">
                <ion-item class="item-stable poste" ng-click="toggleGroup(poste)" ng-class="{active: isGroupShown(poste)}">
                    <i class="icon" ng-class="isGroupShown(poste) ? 'ion-minus' : 'ion-plus'"></i> {{poste.intitule}}
                    </br>{{poste.type}} {{poste.localisation}}</span>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(poste)">
                    <div ng-bind-html="poste.description | sanitize"></div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-list>
