h1,
h2,
h3,
h4,
h5 {
    color: #212121;
    font-family: "Helvetica";
}

a,
p {
    color: #3A3A39;
}


/* Accueil */

.accueil .section {
    margin-bottom: 15px;
    margin-right: 6px;
    margin-left: 6px;
    border: solid 1px #E67E22;
}

.accueil .section .sectBar {
    text-transform: uppercase;
    padding: 12px 15px;
    font-size: 1.2em;
    color: white;
    background-color: #E67E22;
}

.accueil .section p {
    padding: 15px 15px 0px 15px;
}

.accueil .section a {
    padding-left: 15px;
}


/*.accueil .section h2
{
    display: inline-block;
    margin-bottom: 20px;
    padding: 7px 7px 6px 7px;
    font-size: 1.4em;
    color: #FFFFFF;
    background-color: #03A9F4;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}*/


/* Type entreprises */

.type {
    white-space: normal !important;
}

.startUp {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #E67E22 !important;
    border: 0px !important;
}

.esi {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #34495E !important;
    border: 0px !important;
}

.esn {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #7F8C8D !important;
    border: 0px !important;
}

.editeur {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #2980B9 !important;
    border: 0px !important;
}

.typeShown {
    margin-right: 1px;
}


/* Liste entreprises */

.item h2 {
    margin-top: 2px;
    margin-left: 10px;
}

.item-thumbnail-left > img:first-child {}


/* Page entreprise */


/* Labels type entreprises */

.labelEnt {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 3px;
    font-size: 95%;
    color: #212121;
    border-radius: 2px;
    background-color: #9E9E9E;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.typeESN {
    color: white !important;
    background-color: #7F8C8D !important;
}

.typeEDITEUR {
    color: #FFFFFF !important;
    background-color: #2980B9 !important;
}

.typeGRANDE {
    color: white !important;
    background-color: #34495E !important;
}

.typeStartup {
    color: white;
    background-color: #E67E22 !important;
}

ul {
    margin-left: 40px;
    font-size: 14px;
    white-space: normal !important;
}

.poste
 {
    color: white !important;
    padding: 12px 15px;
    background-color: #34495E !important;
    padding-bottom: 10px;
}

.cardType {
    display: inline-block;
    position: relative;
    border: 0px !important;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    margin-left: 10px;
}
