h1,
h2,
h3,
h4,
h5 {
    color: #212121;
    font-family: "Helvetica";
}

a,
p {
    color: #3A3A39;
}


/* Accueil */

.accueil .section {
    margin-bottom: 15px;
    margin-right: 6px;
    margin-left: 6px;
    border: solid 1px #F78F1D;
}

.accueil .section .sectBar {
    text-transform: uppercase;
    padding: 12px 15px;
    font-size: 1.2em;
    color: white;
    background-color: #F78F1D;
}

.accueil .section p {
    padding: 15px 15px 0px 15px;
}

.accueil .section a {
    padding-left: 15px;
}


/*.accueil .section h2
{
	display: inline-block;
	margin-bottom: 20px;
	padding: 7px 7px 6px 7px;
	font-size: 1.4em;
	color: #FFFFFF;
	background-color: #03A9F4;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}*/


/* Type entreprises */

.type {
    white-space: normal !important;
}

.startUp {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: mediumseagreen !important;
}

.esi {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: tomato !important;
}

.esn {
    color: white !important;
    padding: 12px 15px;
    font-size: 1.2em;
    text-align: center;
    background-color: #219CEE !important;
}

.typeShown {
    border: solid 1px mediumseagreen;
    margin-right: 1px;
}


/* Liste entreprises */

.item h2 {
    margin-top: 2px;
    margin-left: 10px;
}

.item-thumbnail-left > img:first-child {}


/* Page entreprise */


/* Labels type entreprises */

.labelEnt {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 3px;
    font-size: 95%;
    color: #212121;
    border-radius: 2px;
    background-color: #9E9E9E;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.typeESN {
    color: white !important;
    background-color: #219CEE !important;
}

.typeEDITEUR {
    color: #FFFFFF !important;
    background-color: #F78F1D !important;
}

.typeGRANDE {
    width: 60%;
    /* En attendant de changer le nom du type d'entreprise */
    color: white !important;
    background-color: tomato !important;
}

.typeStartup {
    color: white;
    background-color: mediumseagreen !important;
}
